body {
  background-color: rgb(233, 233, 233);
}
div {
  max-width: 670px;
  margin: 50px auto;
  padding: 20px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 5px rgb(114, 112, 114);
  background-color: white;
}

h2 {
  color: #272044;
  font-size: 40px;
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
}
h1 {
  position: relative;
  color: #272044;
  font-size: 40px;
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
  top: -18px;
  margin-top: 1px;
  margin-bottom: 1px;
}
.header {
  position: relative;
  bottom: -40px;
}
.current-temperature-value {
  color: #272044;
  font-size: 69px;
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
}
.icon {
  position: relative;
  top: 25px;
}
span {
  color: rgb(148, 147, 147);
  font-family: monospace;
}

.forecast-temperature-min {
  color: #ec8ac3;
}

strong {
  color: #ec5db1;
}
p {
  color: #ec5db1;
}

.tempno {
  text-align: center;
  font-size: 68px;
  max-height: 500px;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.forecast-temperature-icon {
  position: relative;
  top: -15px;
  left: -18px;
  margin-bottom: 1px;
}
.forecast-temperature-max {
  position: relative;
  top: -48px;
  left: -18px;
}
.forecast-temperature-min {
  position: relative;
  top: -48px;
  left: -10px;
}
li {
  padding: 20px 40px;
  font-size: 17px;
}

input[type="search"] {
  background-color: rgb(233, 233, 233);
  border: none;
  color: #706f6f;
  padding: 18px;
  padding-right: 250px;
  border-radius: 10px;
  font-size: medium;
  position: relative;
  max-width: 454px;
}
input[type="submit"] {
  background-color: #8064e9;
  padding: 18px 50px;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: medium;
  font-weight: 700;
  position: relative;
}
